<div class='ui  container' style="margin-top:6rem;">
  <div class='ui grid '>
    <div class="ui link cards ">
      <% @gallery.each do |item| %>
        <div class="card ">
          <div class="ui fluid image">
            <% if item.image.attached? %>
              <%= image_tag(item.image, style: 'height:100%; width:100%;')  %>
            <% end %>
          </div>
          <div class="content">
            <div class="header"><%= item.name %></div>
            <div class="meta">
              <a>category</a>
            </div>
          </div>
          <div class="extra content">
            <%= link_to line_items_url(:old_id => item.id), :method => :post do %>
              <div class="ui fluid labeled button" tabindex="0">
                <div class="ui red fluid button">
                  <i class="cart arrow down icon"></i> Add To Cart
                </div>
                <a class="ui basic  red left pointing label">
                  <i class="rupee sign icon"></i><%= item.price%>
                </a>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

